* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  color: white;
  font-family: "poppins", sans-serif;
  

}

img {
  max-width: 100%;
  height: auto;
}

.desktop-menu {
  display: none;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 24px;
  box-shadow: 0px 4px 16px rgba(255, 255, 255, 0.25);
}

.hamburger {
  display: block;
  font-size: 30px;
  cursor: pointer;
}

.hamburger img {
  width: 30px;
  height: 30px;
}

.cross-icon {
  display: none;
}

.menu {
  position: fixed;
  top: 9vh;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #121212;
  /* Add the following properties to hide the menu by default */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-bottom: 20px;
  list-style: none;
}

.menu a {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}

.menu a:hover {
  color: #1ED760;
  font-weight: bold;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.hamburger.active .open {
  display: none;
}

.hamburger.active .close {
  display: block;
}

.hamburger .close {
  display: none;
}

.brand-logo {
  position: relative;
  display: inline-block;
}

.hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.brand-logo:hover .logo {
  opacity: 0;
}

.brand-logo:hover .hover {
  opacity: 1;
}


@media screen and (min-width: 800px) {

  .menu,
  .hamburger {
    display: none;
  }

  .desktop-menu {
    display: unset;
  }

  .desktop-menu ul {
    display: flex;
    flex-direction: row;
  }

  .desktop-menu li {
    list-style: none;
    margin-right: 2rem;
  }

  .desktop-menu li a {
    color: white;
    text-decoration: none;
    border-radius: 25px;
    /* sets the border radius to 10 pixels */
  }

  .desktop-menu li a:hover {
    background-color: #1ED760;
    font-weight: bold;
    padding: 1rem 2rem;
    border-radius: 25px;
    /* sets the border radius to 10 pixels */
    transition: all 0.3s ease;
    /* adds a smooth transition effect */
    color: black;
  }

  .brand-logo {
    margin-left: 2rem;
  }

  main h1{
    text-align: center;
    padding: 20vh;
  }

  .projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 90%;
    margin: auto;
    gap: 6vh;
  }

  

  .project{
    /* box-shadow: 7px 6px 16px #1ED760; */
    background-color: #181818;
    padding: 32px 32px 54px 32px;
    border-radius: 25px;
    transition: all .3s ease;
  }

  .project:hover{
    background-color: #262626;
  }

  .project h2{
    padding: 20px 20px 20px 0;
    text-align: left;
    font-size: 32px;
  }

  .project p{
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  .project a{
    color: white;
    text-decoration: none;
    background-color: #1ED760;
    padding: 1rem 2rem;
    border-radius: 25px;
    color: black;
  }

  .project a:hover{
    
    background-color: #262626;
    font-weight: bold;
    padding: 1rem 2rem;
    border-radius: 25px;
    
    transition: all 0.3s ease;
    
    color: #1ED760;
    border: 3px solid #1ED760;
  }

}

/* Slider */

.slider {
  width: 100%;
  overflow: hidden;
}

/*Area of images*/
.wrapper {
  width: 100%;
  display: flex;
  animation: slide 25s infinite;
}

img {
  width: 100%;
}


@keyframes slide {
  0% {
    transform: translateX(0);
  }

  16.666% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-100%);
  }

  33.333% {
    transform: translateX(-100%);
  }

  36.666% {
    transform: translateX(-200%);
  }

  50% {
    transform: translateX(-200%);
  }

  53.333% {
    transform: translateX(-300%);
  }

  66.666% {
    transform: translateX(-300%);
  }

  70% {
    transform: translateX(-400%);
  }

  83.333% {
    transform: translateX(-400%);
  }

  86.666% {
    transform: translateX(-500%);
  }

  100% {
    transform: translateX(-500%);
  }
}